/* button{
    background-color: black;
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    color: white;
}
.buttons{
    display: flex;
    gap: 20px;
}
.right_c_lower{
    width: 50%;
} */